@using events.tac.local.Models
@model NavigationMenuItem

<!-- [Page Navigation] -->
<h4><a href="@Model.URL">@Model.Title</a></h4>
<div class="sidebar sidebar-static">
    @RenderMenu(Model)
</div>

<ul class="nav nav-pills nav-stacked">
    <li class="open">
        <a href="Event-Overview.html">Climbing</a>
        <ul class="nav nav-pills nav-stacked">
            <li><a href="Event-Detail.html">Climbing Event A</a></li>
            <li><a href="Event-Detail.html">Climbing Event B</a></li>
        </ul>
    </li>
    <li><a href="Event-Overview.html">Cycling</a></li>
    <li><a href="Event-Overview.html">Hiking</a></li>
    <li><a href="Event-Overview.html">Skiing</a></li>
</ul>
<!-- [/Page Navigation] -->

@helper RenderMenu(NavigationMenuItem navMenu)
    { 
        if(navMenu.Children != null)
        {
            <ul class="nav nav-pills nav-stacked">
                @foreach ( var menuEntry in navMenu.Children)
                {
                     <li class="@(menuEntry.Children != null ? "open" : "") ">
                        <a href="@menuEntry.URL">@menuEntry.Title</a>
                     </li>
                }
            </ul>
        }
    }